@model CafeManagement.Models.Supplier

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<h1 style="color: #5c4033;">Details</h1>

<div>
    <h4 style="color: #5c4033;">Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SupplierId" class="btn-modern btn-modern-light">✏️ Edit</a>
    <a asp-action="Index" class="btn-modern" style="margin-left: 10px;">← Back to List</a>
</div>
