@model CafeManagement.Models.LoyaltyProgram

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<h1 style="color: #5c4033;">Details</h1>

<div>
    <h4 style="color: #5c4033;">LoyaltyProgram</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoyaltyId" class="btn-modern btn-modern-light">✏️ Edit</a>
    <a asp-action="Index" class="btn-modern" style="margin-left: 10px;">← Back to List</a>
</div>
