@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Welcome";
}
<div class="text-center mt-5">
    <h1 style="color: #5c4033;">Welcome to BrewMaster's Management System</h1>
    <p class="lead" style="color: #5c4033;">Please login or sign up to continue</p>
    <a href="/Account/Login" class="btn btn-sm" style="background-color: #5c4033; color: #f5f2e7;">Login</a>
    <a href="/Account/Signup" class="btn btn-sm" style="background-color: #5c4033; color: #f5f2e7;">Signup</a>
</div>
